{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="form-group">
    <label for="mail_description">Mail Description</label>
    <textarea name="" id="mail_description" cols="30" rows="10" placeholder="mail Description"
              class="form-control"></textarea>
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
