{% extends 'base.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
    <div class="wrapper m-5">

        <div class="content-wrapper">
            <h1>Edit Reclamation</h1>

            {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="float-right mt-5 mr-1">
                <a class="btn btn-dark" href="{{ path('reclamation_index') }}"><i
                            class="fas fa-long-arrow-alt-left nav-icon"></i> back to complaints list</a>
            </div>
{#            {{ include('reclamation/_delete_form.html.twig') }}#}
        </div>
    </div>
{% endblock %}
