{% extends 'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<div class="wrapper m-5">

    <div class="content-wrapper">
    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

        <div class="float-right mt-5 mr-1">
            <a class="btn btn-dark" href="{{ path('reclamation_index') }}"><i
                        class="fas fa-long-arrow-alt-left nav-icon"></i> back to complaints List</a>
        </div>
    </div>
</div>
{% endblock %}
