{% extends 'base.html.twig' %}

{% block title %}Edit SalleDeCinema{% endblock %}

{% block body %}
    <div class="wrapper m-5">

        <div class="content-wrapper">

            <h1>Edit SalleDeCinema</h1>

            {{ include('salle_de_cinema/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="float-right mt-5 mr-1">
                <a class="btn btn-dark" href="{{ path('salle_de_cinema_index') }}"><i
                            class="fas fa-long-arrow-alt-left nav-icon"></i> back to movie rooms list</a>
            </div>
{#            {{ include('salle_de_cinema/_delete_form.html.twig') }}#}
        </div>
    </div>
{% endblock %}
